<div id="<%= dom_id sucursale %>">
  <p>
    <strong>Nombre:</strong>
    <%= sucursale.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= sucursale.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= sucursale.telefono %>
  </p>

</div>
