<p style="color: green"><%= notice %></p>

<h1>Sucursales</h1>

<div id="sucursales">
  <% @sucursales.each do |sucursale| %>
    <%= render sucursale %>
    <p>
      <%= link_to "Show this sucursale", sucursale %>
    </p>
  <% end %>
</div>

<%= link_to "New sucursale", new_sucursale_path %>
