<p style="color: green"><%= notice %></p>

<h1>Turnos</h1>

<div id="turnos">
  <% @turnos.each do |turno| %>
    <%= render turno %>
    <p>
      <%= link_to "Show this turno", turno %>
    </p>
  <% end %>
</div>

<%= link_to "New turno", new_turno_path %>
